.container {
	flex: 0 0 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	flex-wrap: wrap;
}

.controls {
	flex: 0 0 100%;
	display:flex;
	justify-content:center;
}

.projectList {

	flex: 0 0 100%;
	display:flex;
	flex-wrap: wrap;
	padding:40px;

}

.projectList > div {
	display: flex;
	flex-wrap: wrap;
	background: black;
	color:white;
	border-radius: 4px;
	padding: 20px;
	justify-content: space-between;
}

.projectList div div {
	border:1px solid white;
	padding:5px;
	border-radius: 4px;
	flex: 0 1 22%;
	display:flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	min-height: 75px;
	-webkit-app-region: no-drag;
}

.projectList div div p {
	margin:0;
	padding:0;
	text-align: center;
}