.button {
	-webkit-app-region: no-drag;
	background: #EB0101;
	padding:15px 10px;
	border-radius: 4px;
	color:white;
	box-shadow: 0px 1px 25px -5px rgba(0,0,0,0.75);
  display:flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.125s ease-out;
}

.button:hover {
	background: #EB0101;
	box-shadow: 0px 1px 10px -5px rgba(0,0,0,0.75);
  cursor: pointer;
}

.button p {
	margin: 0;
	padding: 0;
  font-size:14px;
  letter-spacing: 1px;
  line-height: 14px;
}
