html, body {
	padding:0;
	margin:0;
  font-family: "HelveticaNeueLTPro-Md";
  font-size: 16px;
}

body > div {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	-webkit-app-region: drag;
}

* {
	box-sizing: border-box;
}
