.container {
	flex: 0 0 100%;
	display:flex;
	justify-content: center;
	align-items: stretch;
	z-index: 10;
	flex-wrap: wrap;
}

.controls {
  display: flex;
	flex: 0 0 100%;
  min-height:150px;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.controls > div > div {
  margin: 12px auto 18px;
}

.controls > div {
  // flex: 0 0 100%;
  // display:flex;
  // flex-wrap: wrap;
}

.controls > div {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.controls > div > p {
  flex: 0 0 100%;
  margin: 0;
  align-self: center;
}

.canvas {
  flex: 0 0 100%;
  min-height: 300px;
  display: flex;
}

.canvas > div {
  flex: 0 0 100%;
}


.sheets {
  padding-top: 32px;
  padding-bottom: 32px;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow: scroll;
}

.sheetNames {
  display:flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.sheetNames > div {
  border-bottom: 2px solid black;
  padding: 5px 15px;
  flex: 0 0 15%;
  margin-bottom: 20px;
}

.sheetNames > div:first-child {
  padding-left: 0;
}

.sheetNames > div:hover,
.sheetNames > .selected {
  border-color:#E80C19;
  cursor: pointer;
}

.doneButton {
  flex: 0 0 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.wolf {
  flex: 0 0 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.wolf img {
  max-height: 250px;
}

.footer {
  padding-bottom: 50px;
  padding-top: 20px;
}
